.training-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #131533;
  padding-top: 30px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.tab {
  flex: 1;
  position: relative;
  background: none;
  border: none;
  padding: 30px 0;
  font-size: 1rem;
  font-weight: 500;
  color: white; // grau
  cursor: pointer;
  transition: color 0.2s ease;
  &:hover {
    color: #2f68bf;
  }

  .underline {
    position: absolute;
    left: 50%;
    bottom: -2px;

    width: 100%;
    height: 3px;

    background: gray;
    transform: translateX(-50%);
    transition: width 0.25s ease;
  }

  &.active {
    color: #2f68bf;
    font-weight: 600;

    .underline {
      width: 90%;
      background-color: #2f68bf !important;
      
    }
  }
}
